body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  background: #2a366a;
  position: relative;
  padding: 0px 13px 3px 10px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke: 1.5px #c9a050;
  text-transform: none;
  animation: flip 2s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.live {
  background: #c9a050;
  position: relative;
  padding: 0px 7px 3px 9px;
  display: inline-block;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #2a366a;
  -webkit-text-stroke: 1px red;
  letter-spacing: 4px;
  text-transform: none;
  animation: flip 2s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
