@font-face {
    font-family: 'Tamil039';
    src: url('https://www.rtcs.live/font/Tamil039.woff2') format('woff2'),
        url('https://www.rtcs.live/font/Tamil039.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.video-label {
    bottom: 5%;
    background: linear-gradient(to right, #870000 0%, red 5%, rgb(0 0 0 / 70%) 5%, rgb(0 0 0 / 70%) 100%);
    padding: 5px 1.8% 1.5% 5%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    important ;font-family: 'Tamil039'; font-weight: bold; font-style: normal;
    word-spacing: -5px;
}

#overlayMsgs{
    margin-bottom: 5%;
    margin-left: 40%;
    overflow: auto!important;
    height: 120px!important;
}
