.video-label {
    bottom: 5%;
    background: linear-gradient(to right, #870000 0%, red 5%, rgb(0 0 0 / 70%) 5%, rgb(0 0 0 / 70%) 100%);
    padding: 6px 2.2% 2.2% 6%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    font-weight: bold;
}

#overlayMsgs{
    margin-bottom: 5%;
    margin-left: 40%;
    overflow: auto!important;
    height: 120px!important;
}
