@font-face {
    font-family: 'Tamil039';
    src: url('https://www.rtcs.live/font/Tamil039.woff2') format('woff2'),
        url('https://www.rtcs.live/font/Tamil039.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.video-label {
    bottom: 3%;
    background: linear-gradient(to right, #870000 0%, red 5%, rgb(0 0 0 / 70%) 5%, rgb(0 0 0 / 70%) 100%);
    padding: 4px 2.5% 0% 5.3%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    important ;font-family: 'Tamil039'; font-weight: bold; font-style: normal;
    word-spacing: -5px;
}

#overlayMsgs{
        bottom: 15%;
	margin:0 auto;
	background-color: #0000;
	color: white;
	important ;font-family: 'Tamil039'; font-weight: bold; font-style: normal;
        font-size: 0.5vh;
	line-height: 1vh;
	letter-spacing: 0.0em;
	text-shadow: 0.05em 0.05em 0px rgba(0,0,0,1);
	width:100%;
	height:20vh;
	z-index: 7;
	vertical-align: top;
	text-align: center;
	position: fixed;
	overflow-wrap: anywhere;
	padding:2% 3%;
	pointer-events: none
}
#overlayMsgs span{
        bottom: 15%;
	background-color: #000B;
	padding: 2px;
	margin: 0.5vh;
	text-align: center;
	width:100%;
	pointer-events: none
}
