@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
.video-label {
    bottom: 5%;
    background: linear-gradient(to right, #870000 0%, red 5%, rgb(0 0 0 / 70%) 5%, rgb(0 0 0 / 70%) 100%);
    padding: 5px 2.5% 1.8% 4.5%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    font-weight: bold;
    font-family: "Agdasima", sans-serif;
    letter-spacing: 2px;
}

#overlayMsgs{
    margin-bottom: 5%;
    margin-left: 40%;
    overflow: auto!important;
    height: 120px!important;
}
