.video-label {
    bottom: 8%;
    background: rgb(0 0 0 / 70%);
    padding: 0px 1%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    font-size: 0.8em;
    font-weight: bold;
}
