.video-label {
    bottom: 25%;
    background: linear-gradient(to right, #870000 0%, red 5.4%, rgb(0 0 0 / 70%) 5.4%, rgb(0 0 0 / 70%) 100%);
    padding: 6px 1.3% 0.3% 3.3%;
    left: 0;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px #00000059;
    font-size: 128px;
    font-weight: bold;
}

#overlayMsgs{
    margin-bottom: 5%;
    margin-left: 40%;
    overflow: auto!important;
    height: 120px!important;
}
